<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">You or Your Favorite Player May Be List It Down Here!</h1>
            <hr>
            <p>If you don't go after what you want, you'll never have it. If you don't ask, the answer is always no. If you don't stemforward, you're always in the same place.</p>
            <a href="#player-container" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
<player-list [playerList]='players'></player-list>