<section id="playerList">
    <div class="container" id="player-container">
        <div class="col-lg-2 eachplayer"  *ngFor="let item of playerList" (click)="showPlayerDetail(item)" >
            <img src="assets/images/avatar_male.jpg"/>
            <div>
                <ul>
                    <li class="text-center"><b>{{item.pname}}</b></li>
                    <li><span class="pull-left">Matches</span><span class="pull-right">{{item.matches}}</span></li>
                    <li><span class="pull-left">Innings</span><span class="pull-right">{{item.inn}}</span></li>
                    <li><span class="pull-left">Rus Scored</span><span class="pull-right">{{item.runScored}}</span></li>
                    <li><span class="pull-left">Wickets</span><span class="pull-right">{{item.wickets}}</span></li>
                    <li><span class="pull-left">Batting Avg</span><span class="pull-right">{{(item.runScored/item.inn) | number:'2.1-2'}}</span></li>
                </ul>
            </div>
        </div>
    </div>
    <player-detail id="playerdetail-container" *ngIf="currentPlayerModal" [currentPlayer]='currentPlayerModal'></player-detail>
    
    
    <div class="overlaybox"></div>
</section>
