.addplayercontainer{ position:absolute; right:-66.67%; top:40px; z-index: 1; padding: 10px; transition: 1s ease; }
.addplayercontainer.isaddshow{ right: 0; }
.addplayercontainer .addico{ position: absolute; left: -48px; top: 0; padding:10px; background: #800080; border-radius:5px 0 0 5px; }
.addplayercontainer .addoverlay{border-radius: 0px 5px 5px 5px; background-color:#000000; opacity: 0.7; height: 100%; width:100%; position:absolute; top:0;left:0;transition: 1s ease; }
.addplayercontainer span.addplayer{ color: #FFFFFF; font-size:2em; cursor: pointer; z-index: 1;transition: 1s ease; }
.addplayercontainer span.addplayer.closeshow{ transform: rotate(45deg); }
.player-form-container{ position: relative; z-index: 1; color: #FFFFFF; }